tutorials
{
margin:10px;
background-color:#bfcc0a;
font-family:verdana,helvetica,sans-serif;
}

name
{
display:block;
font-weight:bold;
}

url
{
display:block;
color:#383838;
font-size:small;
font-style:italic;
}