table{
    display: table;
    display: block;
    margin: 20px;
}
col{
    display: table-row;
    display: block;
    
}
t-raw{
    display: table-cell;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px;
    width: 120px;
    text-align: center;
    height: 40px;
    padding: 5px;
    background-color: rgb(125, 179, 201);
    font-size: 15px;
}
t-head{
    display: table-cell;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px;
    width: 120px;
    text-align: center;
    height: 40px;
    padding: 5px;
    background-color: rgb(134, 190, 117);
}
